In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
area_veg = pd.read_csv("../data/area_production/1997_2022_vegetables_areainproduction_state_county.csv")

In [ ]:
area_veg['Year'].loc[~area_veg['State'].isna()].unique()

In [ ]:
area_veg['Geo Level'].loc[~area_veg['Geo Level'].isna()].unique()

In [ ]:
area_veg.shape

In [ ]:
values = area_veg.loc[area_veg['Value'] != ' (D)']

In [ ]:
values = values.loc[values['Value'] != ' (Z)']

In [ ]:
values

In [ ]:
values['Value'] = values['Value'].str.replace(',', '').astype('int')

In [ ]:
values.groupby(['Year', 'Geo Level']).size()

In [ ]:
sum_grouped = values.groupby(['Year', 'Geo Level']).sum()

In [ ]:
sum_grouped['Value']

In [ ]:
productivity = pd.read_csv("../data/agriculture_productivity/farm_outputs_inputs_productivity.csv")

In [ ]:
productivity['Attribute'].unique()

In [ ]:
productivity

In [ ]:
productivity = productivity.pivot(index='Year',columns='Attribute', values='Value').reset_index()

In [ ]:
TFP_veg = productivity[['Year', 'Crops output: Vegetables and melons']]

In [ ]:
TFP_veg

In [ ]:
plt.figure(figsize = (18,10))
plt.bar(TFP_veg['Year'], TFP_veg['Crops output: Vegetables and melons'])
plt.ylabel('Total Factor Productivity')
plt.title('Total Factor Productivity for Vegetables and melons 1948-2021')
plt.show()

In [ ]:
TFP_fruit = productivity[['Year', 'Crops output: Fruits and nuts']]

In [ ]:
plt.figure(figsize = (18,10))
plt.bar(TFP_fruit['Year'], TFP_fruit['Crops output: Fruits and nuts'])
plt.ylabel('Total Factor Productivity')
plt.title('Total Factor Productivity for Fruits and nuts 1948-2021')
plt.show()

In [ ]:
fruit_2021 = pd.read_csv("../data/census_fruit_2021.csv")
fruit_2021

In [ ]:
fruit_acres_2021 = fruit_2021[fruit_2021['Data Item'].str.contains("ACRES HARVESTED")]

In [ ]:
fruit_acres_2021 = fruit_acres_2021.loc[(fruit_acres_2021['Value'] != ' (D)')]
fruit_acres_2021 = fruit_acres_2021.loc[(fruit_acres_2021['Value'] != ' (Z)')]
fruit_acres_2021['Value'] = fruit_acres_2021['Value'].str.replace(',', '').astype('int')

In [ ]:
fruit_acres_2021 = fruit_acres_2021[['State', 'Value']].groupby('State').sum().reset_index()
fruit_acres_2021

In [ ]:
fruit = pd.read_csv("../data/fruit/fruit.csv")
citrus = pd.read_csv("../data/fruit/citrus.csv")
berries = pd.read_csv("../data/fruit/berries.csv")
non_citrus = pd.read_csv("../data/fruit/non_citrus.csv")
treenuts = pd.read_csv("../data/fruit/treenuts.csv")

In [ ]:
berries['Data Item'][berries['Domain'].str.contains('TOTAL')].unique()

In [ ]:
berries['Data Item'][berries['Data Item'].str.contains('ACRES HARVESTED')].unique()

In [ ]:
citrus['Data Item'][citrus['Data Item'].str.contains('ACRES HARVESTED')].unique()

In [ ]:
treenuts['Data Item'][treenuts['Data Item'].str.contains('ACRES HARVESTED')].unique()

In [ ]:
non_citrus['Data Item'].unique()

In [ ]:
fruit['Data Item'][fruit['Data Item'].str.contains('ACRES HARVESTED')].unique()

In [5]:
commodity = pd.read_csv("../data/commodity_totals.csv")

In [7]:
commodity['Domain Category'].unique()

array(['ORGANIZATION: (TAX PURPOSES, CORPORATION)',
       'ORGANIZATION: (TAX PURPOSES, CORPORATION, (EXCL FAMILY HELD))',
       'ORGANIZATION: (TAX PURPOSES, CORPORATION, (EXCL FAMILY HELD), LE 10 STOCKHOLDERS)',
       'ORGANIZATION: (TAX PURPOSES, CORPORATION, FAMILY HELD)',
       'ORGANIZATION: (TAX PURPOSES, CORPORATION, FAMILY HELD, LE 10 STOCKHOLDERS)',
       'ORGANIZATION: (TAX PURPOSES, FAMILY & INDIVIDUAL)',
       'ORGANIZATION: (TAX PURPOSES, INSTITUTIONAL & RESEARCH & RESERVATION & OTHER)',
       'ORGANIZATION: (TAX PURPOSES, PARTNERSHIP)',
       'ORGANIZATION: (TAX PURPOSES, PARTNERSHIP, REGISTERED UNDER STATE LAW)',
       'PRODUCER DECISIONMAKING: (DAY TO DAY DECISIONS)',
       'PRODUCER DECISIONMAKING: (ESTATE OR SUCCESSION PLANNING)',
       'PRODUCER DECISIONMAKING: (LAND USE OR CROP DECISIONS)',
       'PRODUCER DECISIONMAKING: (LIVESTOCK DECISIONS)',
       'PRODUCER DECISIONMAKING: (MARKETING DECISIONS)',
       'PRODUCER DECISIONMAKING: (RECORD KEEPING OR FINANCIAL MGMT)',
       'PRODUCERS: (1 PRODUCERS)', 'PRODUCERS: (2 PRODUCERS)',
       'PRODUCERS: (3 TO 4 PRODUCERS)',
       'PRODUCERS: (5 OR MORE PRODUCERS)',
       'PRODUCERS: (ETHNICITY = HISPANIC)',
       'PRODUCERS: (GENDER = FEMALE)', 'PRODUCERS: (GENDER = MALE)',
       'PRODUCERS: (MILITARY SERVICE = ACTIVE DUTY NOW OR IN THE PAST)',
       'PRODUCERS: (RACE = AMERICAN INDIAN OR ALASKA NATIVE)',
       'PRODUCERS: (RACE = AMERICAN INDIAN OR ALASKA NATIVE, ALONE OR COMBINED WITH OTHER RACES)',
       'PRODUCERS: (RACE = ASIAN)',
       'PRODUCERS: (RACE = ASIAN, ALONE OR COMBINED WITH OTHER RACES)',
       'PRODUCERS: (RACE = BLACK OR AFRICAN AMERICAN)',
       'PRODUCERS: (RACE = BLACK OR AFRICAN AMERICAN, ALONE OR COMBINED WITH OTHER RACES)',
       'PRODUCERS: (RACE = MULTI-RACE)',
       'PRODUCERS: (RACE = NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER)',
       'PRODUCERS: (RACE = NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER, ALONE OR COMBINED WITH OTHER RACES)',
       'PRODUCERS: (RACE = WHITE)',
       'PRODUCERS: (RACE = WHITE, ALONE OR COMBINED WITH OTHER RACES)',
       'PRODUCERS, AGE: (LESS THAN 35 YEARS)',
       'PRODUCERS, ON ANY OPERATION: (LESS THAN 11 YEARS)',
       'TENURE: (FULL OWNER)', 'TENURE: (PART OWNER)', 'TENURE: (TENANT)',
       'ORGANIZATION: (INSTITUTIONAL & RESEARCH & RESERVATION)',
       'ORGANIZATION: (TAX PURPOSES, CORPORATION) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'ORGANIZATION: (TAX PURPOSES, CORPORATION, (EXCL FAMILY HELD)) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'ORGANIZATION: (TAX PURPOSES, CORPORATION, (EXCL FAMILY HELD), LE 10 STOCKHOLDERS) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'ORGANIZATION: (TAX PURPOSES, CORPORATION, FAMILY HELD) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'ORGANIZATION: (TAX PURPOSES, CORPORATION, FAMILY HELD, LE 10 STOCKHOLDERS) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'ORGANIZATION: (TAX PURPOSES, FAMILY & INDIVIDUAL) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'ORGANIZATION: (TAX PURPOSES, INSTITUTIONAL & RESEARCH & RESERVATION & OTHER) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'ORGANIZATION: (TAX PURPOSES, PARTNERSHIP) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'ORGANIZATION: (TAX PURPOSES, PARTNERSHIP, REGISTERED UNDER STATE LAW) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'PRODUCERS: (2 PRODUCERS) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'PRODUCERS: (3 TO 4 PRODUCERS) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'PRODUCERS: (5 OR MORE PRODUCERS) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'PRODUCERS: (1 PRODUCERS) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT): (NOP USDA CERTIFIED & EXEMPT)',
       'TENURE: (FULL OWNER) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'TENURE: (PART OWNER) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'TENURE: (TENANT) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'PRODUCERS: (ETHNICITY = HISPANIC) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'PRODUCERS: (GENDER = FEMALE) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'PRODUCERS: (RACE = AMERICAN INDIAN OR ALSAKA NATIVE, ALONE OR COMBINED WITH OTHER RACES) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'PRODUCERS: (RACE = ASIAN, ALONE OR COMBINED WITH OTHER RACES) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'PRODUCERS: (RACE = BLACK OR AFRICAN AMERICAN, ALONE OR COMBINED WITH OTHER RACES) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'PRODUCERS: (RACE = NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER, ALONE OR COMBINED WITH ITHER RACES) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'PRODUCERS: (RACE = WHITE, ALONE OR COMBINED WITH OTHER RACES) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'PRODUCERS, AGE: (LESS THAN 36 YEARS)',
       'PRODUCERS, PRINCIPAL: (ETHNICITY = HISPANIC)',
       'PRODUCERS, PRINCIPAL: (GENDER = FEMALE)',
       'PRODUCERS, PRINCIPAL: (GENDER = MALE)',
       'PRODUCERS, PRINCIPAL: (MILITARY SERVICE = ACTIVE DUTY NOW OR IN THE PAST)',
       'PRODUCERS, PRINCIPAL: (RACE = AMERICAN INDIAN OR ALASKA NATIVE)',
       'PRODUCERS, PRINCIPAL: (RACE = AMERICAN INDIAN OR ALASKA NATIVE, ALONE OR COMBINED WITH OTHER RACES)',
       'PRODUCERS, PRINCIPAL: (RACE = ASIAN)',
       'PRODUCERS, PRINCIPAL: (RACE = ASIAN, ALONE OR COMBINED WITH OTHER RACES)',
       'PRODUCERS, PRINCIPAL: (RACE = BLACK OR AFRICAN AMERICAN)',
       'PRODUCERS, PRINCIPAL: (RACE = BLACK OR AFRICAN AMERICAN, ALONE OR COMBINED WITH OTHER RACES)',
       'PRODUCERS, PRINCIPAL: (RACE = MULTI-RACE)',
       'PRODUCERS, PRINCIPAL: (RACE = NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER)',
       'PRODUCERS, PRINCIPAL: (RACE = NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER, ALONE OR COMBINED WITH OTHER RACES)',
       'PRODUCERS, PRINCIPAL: (RACE = WHITE)',
       'PRODUCERS, PRINCIPAL: (RACE = WHITE, ALONE OR COMBINED WITH OTHER RACES)',
       'PRODUCERS, PRINCIPAL, AGE: (LESS THAN 36 YEARS)',
       'PRODUCERS, PRINCIPAL, ON ANY OPERATION: (LESS THAN 11 YEARS)',
       'TYPOLOGY: (EXCL FAMILY FARMS)',
       'TYPOLOGY: (FAMILY FARMS, GCFI (1,000,000 TO 4,999,999 $))',
       'TYPOLOGY: (FAMILY FARMS, GCFI (150,000 TO 349,999 $))',
       'TYPOLOGY: (FAMILY FARMS, GCFI (350,000 TO 999,999 $))',
       'TYPOLOGY: (FAMILY FARMS, GCFI (5,000,000 OR MORE $))',
       'TYPOLOGY: (FAMILY FARMS, GCFI (LESS THAN 150,000 $))',
       'TYPOLOGY: (EXCL FAMILY FARMS) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'TYPOLOGY: (FAMILY FARMS, GCFI (1,000,000 TO 4,999,999 $)) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'TYPOLOGY: (FAMILY FARMS, GCFI (150,000 TO 349,999 $)) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'TYPOLOGY: (FAMILY FARMS, GCFI (350,000 TO 999,999 $)) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'TYPOLOGY: (FAMILY FARMS, GCFI (5,000,000 OR MORE $)) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'TYPOLOGY: (FAMILY FARMS, GCFI (LESS THAN 150,000 $)) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS: (1 OPERATORS)', 'OPERATORS: (2 OR MORE OPERATORS)',
       'OPERATORS: (ETHNICITY = HISPANIC)',
       'OPERATORS: (RACE = AMERICAN INDIAN OR ALASKA NATIVE, ALONE OR COMBINED WITH OTHER RACES)',
       'OPERATORS: (RACE = ASIAN, ALONE OR COMBINED WITH OTHER RACES)',
       'OPERATORS: (RACE = BLACK OR AFRICAN AMERICAN, ALONE OR COMBINED WITH OTHER RACES)',
       'OPERATORS: (RACE = NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER, ALONE OR COMBINED WITH OTHER RACES)',
       'OPERATORS: (RACE = WHITE, ALONE OR COMBINED WITH OTHER RACES)',
       'OPERATORS, PRINCIPAL: (ETHNICITY = HISPANIC)',
       'OPERATORS, PRINCIPAL: (GENDER = FEMALE)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, (EXCL FARMING))',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, (EXCL FARMING), AGE 25 TO 34)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, (EXCL FARMING), AGE 35 TO 44)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, (EXCL FARMING), AGE 45 TO 54)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, (EXCL FARMING), AGE 55 TO 64)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, (EXCL FARMING), AGE GE 65)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, (EXCL FARMING), AGE LT 25)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, FARMING)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, FARMING, AGE 25 TO 34)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, FARMING, AGE 35 TO 44)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, FARMING, AGE 45 TO 54)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, FARMING, AGE 55 TO 64)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, FARMING, AGE GE 65)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, FARMING, AGE LT 25)',
       'OPERATORS, PRINCIPAL: (RACE = AMERICAN INDIAN OR ALASKA NATIVE)',
       'OPERATORS, PRINCIPAL: (RACE = ASIAN)',
       'OPERATORS, PRINCIPAL: (RACE = BLACK OR AFRICAN AMERICAN)',
       'OPERATORS, PRINCIPAL: (RACE = MULTI-RACE)',
       'OPERATORS, PRINCIPAL: (RACE = NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER)',
       'OPERATORS, PRINCIPAL: (RACE = WHITE)',
       'OPERATORS, PRINCIPAL, ON PRESENT OPERATION: (11 OR MORE YEARS)',
       'OPERATORS, PRINCIPAL, ON PRESENT OPERATION: (6 TO 10 YEARS)',
       'OPERATORS, PRINCIPAL, ON PRESENT OPERATION: (LESS THAN 6 YEARS)',
       'TYPOLOGY: (FAMILY FARMS, GCFI (150,000 TO 349,999 $), PRIMARY OCCUPATION, FARMING)',
       'TYPOLOGY: (FAMILY FARMS, GCFI (LESS THAN 150,000 $), PRIMARY OCCUPATION, FARMING)',
       'TYPOLOGY: (FAMILY FARMS, GCFI (LESS THAN 350,000 $), PRIMARY OCCUPATION, EXCL FARMING)',
       'TYPOLOGY: (FAMILY FARMS, GCFI (LESS THAN 350,000 $), RETIREMENT)',
       'OPERATORS: (1 OPERATORS) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS: (2 OR MORE OPERATORS) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, (EXCL FARMING)) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, (EXCL FARMING), AGE 25 TO 34) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, (EXCL FARMING), AGE 35 TO 44) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, (EXCL FARMING), AGE 45 TO 54) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, (EXCL FARMING), AGE 55 TO 64) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, (EXCL FARMING), AGE GE 65) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, (EXCL FARMING), AGE LT 25) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, FARMING) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, FARMING, AGE 25 TO 34) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, FARMING, AGE 35 TO 44) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, FARMING, AGE 45 TO 54) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, FARMING, AGE 55 TO 64) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, FARMING, AGE GE 65) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS, PRINCIPAL: (PRIMARY OCCUPATION, FARMING, AGE LT 25) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS, PRINCIPAL, ON PRESENT OPERATION: (11 OR MORE YEARS) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS, PRINCIPAL, ON PRESENT OPERATION: (6 TO 10 YEARS) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS, PRINCIPAL, ON PRESENT OPERATION: (LESS THAN 6 YEARS) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'TYPOLOGY: (FAMILY FARMS, GCFI (150,000 TO 349,999 $), PRIMARY OCCUPATION, FARMING) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'TYPOLOGY: (FAMILY FARMS, GCFI (LESS THAN 150,000 $), PRIMARY OCCUPATION, FARMING) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'TYPOLOGY: (FAMILY FARMS, GCFI (LESS THAN 350,000 $), PRIMARY OCCUPATION, EXCL FARMING) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'TYPOLOGY: (FAMILY FARMS, GCFI (LESS THAN 350,000 $), RETIREMENT) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS: (ETHNICITY = HISPANIC) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS: (RACE = AMERICAN INDIAN OR ALASKA NATIVE, ALONE OR COMBINED WITH OTHER RACES) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS: (RACE = ASIAN, ALONE OR COMBINED WITH OTHER RACES) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS: (RACE = BLACK OR AFRICAN AMERICAN, ALONE OR COMBINED WITH OTHER RACES) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS: (RACE = NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER, ALONE OR COMBINED WITH OTHER RACES) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS: (RACE = WHITE, ALONE OR COMBINED WITH OTHER RACES) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'OPERATORS, PRINCIPAL: (GENDER = FEMALE) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)'],
      dtype=object)

In [23]:
female_principal = commodity[commodity['Domain Category'].str.contains('GENDER = FEMALE')]

In [25]:
female_principal['Domain Category'].unique()

array(['PRODUCERS: (GENDER = FEMALE)',
       'PRODUCERS: (GENDER = FEMALE) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'PRODUCERS, PRINCIPAL: (GENDER = FEMALE)',
       'OPERATORS, PRINCIPAL: (GENDER = FEMALE)',
       'OPERATORS, PRINCIPAL: (GENDER = FEMALE) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)'],
      dtype=object)

In [29]:
female_principal = female_principal.loc[(female_principal['Value'] != ' (D)')]
female_principal = female_principal.loc[(female_principal['Value'] != ' (Z)')]
female_principal['Value'] = female_principal['Value'].str.replace(',', '')
female_principal['Value'] = pd.to_numeric(female_principal.Value, downcast='integer').fillna(0)

In [31]:
female_principal.groupby('Year').sum('Value')

,Week Ending,State ANSI,Ag District,Ag District Code,County,County ANSI,Zip Code,Region,watershed_code,Watershed,Value,CV (%)
Year,,,,,,,,,,,,
1997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,7275230784,0.0
2002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,7504239819,0.0
2007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,11158516209,0.0
2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,13185148006,20.5
2017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,231569055950,20.2
2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,222065174514,12.1

In [33]:
operators_AA = commodity[commodity['Domain Category'].str.contains('RACE = BLACK OR AFRICAN AMERICAN')]

In [35]:
operators_AA['Domain Category'].unique()

array(['PRODUCERS: (RACE = BLACK OR AFRICAN AMERICAN)',
       'PRODUCERS: (RACE = BLACK OR AFRICAN AMERICAN, ALONE OR COMBINED WITH OTHER RACES)',
       'PRODUCERS: (RACE = BLACK OR AFRICAN AMERICAN, ALONE OR COMBINED WITH OTHER RACES) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)',
       'PRODUCERS, PRINCIPAL: (RACE = BLACK OR AFRICAN AMERICAN)',
       'PRODUCERS, PRINCIPAL: (RACE = BLACK OR AFRICAN AMERICAN, ALONE OR COMBINED WITH OTHER RACES)',
       'OPERATORS: (RACE = BLACK OR AFRICAN AMERICAN, ALONE OR COMBINED WITH OTHER RACES)',
       'OPERATORS, PRINCIPAL: (RACE = BLACK OR AFRICAN AMERICAN)',
       'OPERATORS: (RACE = BLACK OR AFRICAN AMERICAN, ALONE OR COMBINED WITH OTHER RACES) AND ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)'],
      dtype=object)

In [37]:
operators_AA = operators_AA.loc[(operators_AA['Value'] != ' (D)')]
operators_AA = operators_AA.loc[(operators_AA['Value'] != ' (Z)')]
operators_AA['Value'] = operators_AA['Value'].str.replace(',', '')

In [39]:
operators_AA['Value'] = pd.to_numeric(operators_AA.Value, downcast='integer').fillna(0)

In [41]:
operators_AA.groupby('Year').sum('Value')

,Week Ending,State ANSI,Ag District,Ag District Code,County,County ANSI,Zip Code,Region,watershed_code,Watershed,Value,CV (%)
Year,,,,,,,,,,,,
2002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,506910090,0.0
2007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,1587478537,0.0
2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,2178941805,56.5
2017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,4649875711,110.7
2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,4911827088,60.2

In [43]:
operators_his = commodity[commodity['Domain Category'].str.contains('ETHNICITY = HISPANIC')]
operators_his = operators_his.loc[(operators_his['Value'] != ' (D)')]
operators_his = operators_his.loc[(operators_his['Value'] != ' (Z)')]
operators_his['Value'] = operators_his['Value'].str.replace(',', '')
operators_his['Value'] = pd.to_numeric(operators_his.Value, downcast='integer').fillna(0)
operators_his.groupby('Year').sum('Value')

,Week Ending,State ANSI,Ag District,Ag District Code,County,County ANSI,Zip Code,Region,watershed_code,Watershed,Value,CV (%)
Year,,,,,,,,,,,,
1997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,3356725450,0.0
2002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,4669622592,0.0
2007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,19306937241,0.0
2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,25206942273,52.0
2017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,36237362970,49.6
2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,33136985336,23.8

In [45]:
sales_fieldcrops = pd.read_csv("../data/sales_fieldcrops.csv")

In [47]:
sales_fieldcrops

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2022,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BARLEY,BARLEY - OPERATIONS WITH SALES,AREA OPERATED,"AREA OPERATED: (1,000 TO 1,999 ACRES)","1,423",7.7
1,CENSUS,2022,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BARLEY,BARLEY - OPERATIONS WITH SALES,AREA OPERATED,AREA OPERATED: (1.0 TO 9.9 ACRES),52,18.4
2,CENSUS,2022,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BARLEY,BARLEY - OPERATIONS WITH SALES,AREA OPERATED,AREA OPERATED: (10.0 TO 49.9 ACRES),302,8.8
3,CENSUS,2022,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BARLEY,BARLEY - OPERATIONS WITH SALES,AREA OPERATED,AREA OPERATED: (100 TO 139 ACRES),386,5.3
4,CENSUS,2022,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BARLEY,BARLEY - OPERATIONS WITH SALES,AREA OPERATED,AREA OPERATED: (140 TO 179 ACRES),375,8.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7512,CENSUS,2002,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,TOBACCO,"TOBACCO - SALES, MEASURED IN PCT OF FARM SALES",TOTAL,NOT SPECIFIED,0.8,NaN
7513,CENSUS,1997,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,COTTON,"COTTON, LINT & SEED - OPERATIONS WITH SALES",TOTAL,NOT SPECIFIED,"33,594",NaN
7514,CENSUS,1997,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,COTTON,"COTTON, LINT & SEED - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"6,227,116,000",NaN
7515,CENSUS,1997,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,TOBACCO,TOBACCO - OPERATIONS WITH SALES,TOTAL,NOT SPECIFIED,"93,330",NaN
7516,CENSUS,1997,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,TOBACCO,"TOBACCO - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"2,922,590,000",NaN

In [136]:
fieldcrops_areaoperated = sales_fieldcrops.loc[sales_fieldcrops['Domain'] == 'AREA OPERATED']

In [138]:
fieldcrops_areaoperated = fieldcrops_areaoperated[['Year', 'Commodity', 'Data Item', 'Domain', 'Domain Category', 'Value']]
fieldcrops_areaoperated = fieldcrops_areaoperated.loc[(fieldcrops_areaoperated['Value'] != ' (D)')]
fieldcrops_areaoperated = fieldcrops_areaoperated.loc[(fieldcrops_areaoperated['Value'] != ' (Z)')]
fieldcrops_areaoperated['Value'] = fieldcrops_areaoperated['Value'].str.replace(',', '')
fieldcrops_areaoperated['Value'] = pd.to_numeric(fieldcrops_areaoperated.Value, downcast='integer').fillna(0)

In [140]:
fieldcrops_areaoperated = fieldcrops_areaoperated.groupby(['Year', 'Data Item'])['Value'].sum()

In [142]:
fieldcrops_areaoperated = pd.DataFrame(data = fieldcrops_areaoperated).reset_index().rename(columns = {'Value':'Area Operated'})

In [148]:
fieldcrops_areaoperated

    Year                                    Data Item  Area Operated
0   2012               BARLEY - OPERATIONS WITH SALES          18099
1   2012                BARLEY - SALES, MEASURED IN $     1228191000
2   2012                 CORN - OPERATIONS WITH SALES         361744
3   2012                  CORN - SALES, MEASURED IN $    67250120000
4   2012  COTTON, LINT & SEED - OPERATIONS WITH SALES          18143
..   ...                                          ...            ...
67  2022              SOYBEANS - SALES, MEASURED IN $    55361047000
68  2022              TOBACCO - OPERATIONS WITH SALES           2984
69  2022               TOBACCO - SALES, MEASURED IN $      985210000
70  2022                WHEAT - OPERATIONS WITH SALES          96950
71  2022                 WHEAT - SALES, MEASURED IN $    14309258000

[72 rows x 3 columns]

In [146]:
fieldcrops_areaoperated.to_csv(path_or_buf = 'fieldcrops_areaoperated.csv', index = False)

In [ ]:
plt.figure(figsize = (18,10))
plt.bar(fieldcrops_areaoperated['Year'], fieldcrops_areaoperated['Crops output: Vegetables and melons'])
plt.ylabel('Total Factor Productivity')
plt.title('Total Factor Productivity for Vegetables and melons 1948-2021')
plt.show()

In [192]:
fruit_nuts = pd.read_csv('../data/fruit/fruitandtreenuts.csv')

In [194]:
fruit_nuts = fruit_nuts[['Year', 'Data Item', 'Domain', 'Domain Category', 'Value']]

In [202]:
berries_area = fruit_nuts.loc[fruit_nuts['Data Item'].str.contains('ACRES GROWN') 
               & fruit_nuts['Data Item'].str.contains('BERRIES')  
               & (fruit_nuts['Domain'] == 'TOTAL')]

In [204]:
veggies = pd.read_csv('../data/vegetables.csv')

In [214]:
veggies.loc[fruit_nuts['Data Item'].str.contains('- ACRES HARVESTED')]

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
6305,CENSUS,2017,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BRUSSELS SPROUTS,BRUSSELS SPROUTS - ACRES HARVESTED,"AREA HARVESTED, FRESH MARKET & PROCESSING","AREA HARVESTED, FRESH MARKET & PROCESSING: (0....",401,21.0
6311,CENSUS,2017,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BRUSSELS SPROUTS,BRUSSELS SPROUTS - ACRES HARVESTED,"AREA HARVESTED, FRESH MARKET & PROCESSING","AREA HARVESTED, FRESH MARKET & PROCESSING: (50...",450,0.4
6323,CENSUS,2017,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BRUSSELS SPROUTS,"BRUSSELS SPROUTS, FRESH MARKET - ACRES HARVESTED","AREA HARVESTED, FRESH MARKET & PROCESSING","AREA HARVESTED, FRESH MARKET & PROCESSING: (10...",(D),(D)
6335,CENSUS,2017,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BRUSSELS SPROUTS,"BRUSSELS SPROUTS, FRESH MARKET - OPERATIONS WI...","AREA HARVESTED, FRESH MARKET & PROCESSING","AREA HARVESTED, FRESH MARKET & PROCESSING: (50...",7,0.4
6347,CENSUS,2017,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BRUSSELS SPROUTS,"BRUSSELS SPROUTS, PROCESSING - OPERATIONS WITH...","AREA HARVESTED, FRESH MARKET & PROCESSING","AREA HARVESTED, FRESH MARKET & PROCESSING: (5....",4,72.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16916,CENSUS,2007,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,SWEET CORN,"SWEET CORN, PROCESSING - ACRES HARVESTED","AREA HARVESTED, FRESH MARKET & PROCESSING","AREA HARVESTED, FRESH MARKET & PROCESSING: (10...","85,350",NaN
16922,CENSUS,2007,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,SWEET CORN,"SWEET CORN, PROCESSING - ACRES HARVESTED","AREA HARVESTED, FRESH MARKET & PROCESSING","AREA HARVESTED, FRESH MARKET & PROCESSING: (50...","30,603",NaN
17264,CENSUS,2007,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, INCL SEEDS & TRANSPLANTS, IN...",TOTAL,NOT SPECIFIED,"14,683,058,000",NaN
17270,CENSUS,2007,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,"VEGETABLES, OTHER","VEGETABLES, OTHER, FRESH MARKET - OPERATIONS W...",TOTAL,NOT SPECIFIED,"6,668",NaN
18020,CENSUS,2002,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,SWEET POTATOES,"SWEET POTATOES, IRRIGATED - OPERATIONS WITH AR...","AREA HARVESTED, FRESH MARKET & PROCESSING","AREA HARVESTED, FRESH MARKET & PROCESSING: (25...",21,NaN

In [216]:
veggies_zip1 = pd.read_csv('../data/veg_areaprod_zip.csv')
veggies_zip2 = pd.read_csv('../data/veg_areaprod_zip2.csv')

In [224]:
veggies_zip = pd.concat([veggies_zip1, veggies_zip2])

In [226]:
veggies_zip.to_csv(path_or_buf = 'veggies_zip.csv', index = False)

In [234]:
veggies_zip_total = veggies_zip.loc[veggies_zip['Data Item'].str.contains('TOTAL')]

In [240]:
veggies_zip_total.to_csv(path_or_buf = 'veggies_zip_total.csv', index = False)

In [242]:
veggies_zip_total

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2022,YEAR,NaN,ZIP CODE,COLORADO,8,NaN,NaN,NaN,...,80003,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, IN THE OPEN - OPERATIONS WIT...",AREA IN PRODUCTION,AREA IN PRODUCTION: (0.1 TO 99.9 ACRES),2,NaN
1,CENSUS,2022,YEAR,NaN,ZIP CODE,COLORADO,8,NaN,NaN,NaN,...,80005,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, IN THE OPEN - OPERATIONS WIT...",AREA IN PRODUCTION,AREA IN PRODUCTION: (0.1 TO 99.9 ACRES),1,NaN
2,CENSUS,2022,YEAR,NaN,ZIP CODE,COLORADO,8,NaN,NaN,NaN,...,80020,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, IN THE OPEN - OPERATIONS WIT...",AREA IN PRODUCTION,AREA IN PRODUCTION: (0.1 TO 99.9 ACRES),3,NaN
3,CENSUS,2022,YEAR,NaN,ZIP CODE,COLORADO,8,NaN,NaN,NaN,...,80021,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, IN THE OPEN - OPERATIONS WIT...",AREA IN PRODUCTION,AREA IN PRODUCTION: (0.1 TO 99.9 ACRES),2,NaN
4,CENSUS,2022,YEAR,NaN,ZIP CODE,COLORADO,8,NaN,NaN,NaN,...,80022,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, IN THE OPEN - OPERATIONS WIT...",AREA IN PRODUCTION,AREA IN PRODUCTION: (0.1 TO 99.9 ACRES),2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5642,CENSUS,2007,YEAR,NaN,ZIP CODE,CALIFORNIA,6,NaN,NaN,NaN,...,96140,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, IN THE OPEN - OPERATIONS WIT...",AREA IN PRODUCTION,AREA IN PRODUCTION: (0.1 TO 14.9 ACRES),2,NaN
5643,CENSUS,2007,YEAR,NaN,ZIP CODE,CALIFORNIA,6,NaN,NaN,NaN,...,96150,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, IN THE OPEN - OPERATIONS WIT...",AREA IN PRODUCTION,AREA IN PRODUCTION: (0.1 TO 14.9 ACRES),2,NaN
5644,CENSUS,2007,YEAR,NaN,ZIP CODE,CALIFORNIA,6,NaN,NaN,NaN,...,99999,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, IN THE OPEN - OPERATIONS WIT...",AREA IN PRODUCTION,AREA IN PRODUCTION: (0.1 TO 14.9 ACRES),6,NaN
5645,CENSUS,2007,YEAR,NaN,ZIP CODE,CALIFORNIA,6,NaN,NaN,NaN,...,99999,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, IN THE OPEN - OPERATIONS WIT...",AREA IN PRODUCTION,AREA IN PRODUCTION: (100 OR MORE ACRES),12,NaN
5646,CENSUS,2007,YEAR,NaN,ZIP CODE,CALIFORNIA,6,NaN,NaN,NaN,...,99999,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, IN THE OPEN - OPERATIONS WIT...",AREA IN PRODUCTION,AREA IN PRODUCTION: (15.0 TO 99.9 ACRES),3,NaN