In [1]:
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd

In [2]:
URL = 'https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_area'

response = requests.get(URL)
response.status_code

200

In [3]:
soup = BS(response.text)

In [4]:
state_area = pd.read_html(str(soup.find('table', attrs={'class' : 'wikitable'})))[0]

C:\Users\corne\AppData\Local\Temp\ipykernel_59740\3813345440.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  state_area = pd.read_html(str(soup.find('table', attrs={'class' : 'wikitable'})))[0]

In [5]:
state_area = state_area[[('State / territory','State / territory'),('Land area', 'sq mi')]]

In [6]:
state_area.columns = ['State', 'sq_mi']

In [7]:
state_area

                           State    sq_mi
0                         Alaska   570641
1                          Texas   261232
2                     California   155779
3                        Montana   145546
4                     New Mexico   121298
..                           ...      ...
56  Minor Outlying Islands[3][a]       16
57                 Contiguous US  2954843
58                     50 States  3531846
59              50 States and DC  3531907
60                 United States  3535932

[61 rows x 2 columns]

In [8]:
state_area2 = pd.DataFrame([])
state_area2[['State', 'sq_mi']] = pd.concat([state_area.iloc[49].reset_index().transpose()[1:3], state_area.iloc[51].reset_index().transpose()[1:3]])

In [9]:
state_area = pd.concat([state_area.iloc[0:47], state_area2])

In [10]:
state_area['State'] = state_area['State'].str.upper()

In [11]:
vegetables = pd.read_csv('../data/demographics_vegetables.csv')

In [12]:
vegetables_state = vegetables.loc[(vegetables['Geo Level'] == 'STATE') & (vegetables['Data Item'] == 'VEGETABLE TOTALS, IN THE OPEN - OPERATIONS WITH AREA IN PRODUCTION')
                                & (vegetables['Domain'] == 'ORGANIZATION')]
vegetables_state = vegetables_state.loc[vegetables_state['Value'] != ' (D)']
vegetables_state = vegetables_state.loc[vegetables_state['Value'] != ' (Z)']
vegetables_state['Value'] = vegetables_state['Value'].str.replace(',', '')
vegetables_state['Value'] = pd.to_numeric(vegetables_state.Value, downcast='integer').fillna(0)
vegetables_state['Organization Type'] = vegetables_state['Domain Category'].map(lambda x: 'Corporation' if 'CORPORATION' in x
                                                                              else 'Family & Individual' if 'FAMILY & INDIVIDUAL' in x
                                                                              else 'Partnership' if 'PARTNERSHIP' in x
                                                                              else 'Institutional & Researach & Reservation' if 'INSTITUTIONAL & RESEARCH & RESERVATION' in x
                                                                              else "")
vegetables_state = vegetables_state.groupby(
                ['State', 'Year', 'Organization Type']).sum(
                'Value').fillna(0).reset_index()

In [13]:
vegetables_per_sqmi = pd.merge(vegetables_state, state_area, on = 'State')
vegetables_per_sqmi['per_sqmi'] = (vegetables_per_sqmi['Value']/vegetables_per_sqmi['sq_mi'])*100

In [14]:
fruitnut_state = pd.read_csv('../data/fruittreenuttotals_demographics.csv')
berries_state = pd.read_csv('../data/demographics_berries.csv')
citrus_state = pd.read_csv('../data/demographics_citrus.csv')
commoditites_state = pd.read_csv('../data/commodity_totals.csv')

In [15]:
berries_state = berries_state.loc[(berries_state['Geo Level'] == 'STATE') & (berries_state['Data Item'] == 'BERRY TOTALS - OPERATIONS WITH AREA GROWN')
                                & (berries_state['Domain'] == 'ORGANIZATION')]
berries_state = berries_state.loc[berries_state['Value'] != ' (D)']
berries_state = berries_state.loc[berries_state['Value'] != ' (Z)']
berries_state['Value'] = berries_state['Value'].str.replace(',', '')
berries_state['Value'] = pd.to_numeric(berries_state.Value, downcast='integer').fillna(0)
berries_state['Organization Type'] = berries_state['Domain Category'].map(lambda x: 'Corporation' if 'CORPORATION' in x
                                                                              else 'Family & Individual' if 'FAMILY & INDIVIDUAL' in x
                                                                              else 'Partnership' if 'PARTNERSHIP' in x
                                                                              else 'Institutional & Researach & Reservation' if 'INSTITUTIONAL & RESEARCH & RESERVATION' in x
                                                                              else "")
berries_state = berries_state.groupby(
                ['State', 'Year', 'Organization Type']).sum(
                'Value').fillna(0).reset_index()

In [16]:
berries_per_sqmi = pd.merge(berries_state, state_area, on = 'State')
berries_per_sqmi['per_sqmi'] = (berries_per_sqmi['Value']/berries_per_sqmi['sq_mi'])*100

In [17]:
citrus_state = citrus_state.loc[(citrus_state['Geo Level'] == 'STATE') & (citrus_state['Data Item'] == 'CITRUS TOTALS - OPERATIONS WITH AREA BEARING & NON-BEARING')
                                & (citrus_state['Domain'] == 'ORGANIZATION')]
citrus_state = citrus_state.loc[citrus_state['Value'] != ' (D)']
citrus_state = citrus_state.loc[citrus_state['Value'] != ' (Z)']
citrus_state['Value'] = citrus_state['Value'].str.replace(',', '')
citrus_state['Value'] = pd.to_numeric(citrus_state.Value, downcast='integer').fillna(0)
citrus_state['Organization Type'] = citrus_state['Domain Category'].map(lambda x: 'Corporation' if 'CORPORATION' in x
                                                                              else 'Family & Individual' if 'FAMILY & INDIVIDUAL' in x
                                                                              else 'Partnership' if 'PARTNERSHIP' in x
                                                                              else 'Institutional & Researach & Reservation' if 'INSTITUTIONAL & RESEARCH & RESERVATION' in x
                                                                              else "")
citrus_state = citrus_state.groupby(
                ['State', 'Year', 'Organization Type']).sum(
                'Value').fillna(0).reset_index()

In [18]:
citrus_per_sqmi = pd.merge(citrus_state, state_area, on = 'State')
citrus_per_sqmi['per_sqmi'] = (citrus_per_sqmi['Value']/citrus_per_sqmi['sq_mi'])*100

In [19]:
fruitnut_state = fruitnut_state.loc[(fruitnut_state['Geo Level'] == 'STATE') & (fruitnut_state['Data Item'] == 'FRUIT & TREE NUT TOTALS - OPERATIONS WITH SALES')
                                & (fruitnut_state['Domain'] == 'ORGANIZATION')]
fruitnut_state = fruitnut_state.loc[fruitnut_state['Value'] != ' (D)']
fruitnut_state = fruitnut_state.loc[fruitnut_state['Value'] != ' (Z)']
fruitnut_state['Value'] = fruitnut_state['Value'].str.replace(',', '')
fruitnut_state['Value'] = pd.to_numeric(fruitnut_state.Value, downcast='integer').fillna(0)
fruitnut_state['Organization Type'] = fruitnut_state['Domain Category'].map(lambda x: 'Corporation' if 'CORPORATION' in x
                                                                              else 'Family & Individual' if 'FAMILY & INDIVIDUAL' in x
                                                                              else 'Partnership' if 'PARTNERSHIP' in x
                                                                              else 'Institutional & Researach & Reservation' if 'INSTITUTIONAL & RESEARCH & RESERVATION' in x
                                                                              else "")
fruitnut_state = fruitnut_state.groupby(
                ['State', 'Year', 'Organization Type']).sum(
                'Value').fillna(0).reset_index()

In [20]:
fruitnut_per_sqmi = pd.merge(fruitnut_state, state_area, on = 'State')
fruitnut_per_sqmi['per_sqmi'] = (fruitnut_per_sqmi['Value']/fruitnut_per_sqmi['sq_mi'])*100

In [21]:
vegetables_per_sqmi.to_csv(path_or_buf = '../data/vegetables_per_sqmi.csv', index = False)
berries_per_sqmi.to_csv(path_or_buf = '../data/berries_per_sqmi.csv', index = False)
citrus_per_sqmi.to_csv(path_or_buf = '../data/citrus_per_sqmi.csv', index = False)
fruitnut_per_sqmi.to_csv(path_or_buf = '../data/fruitnut_per_sqmi.csv', index = False)